<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.js"></script>
    <script src="../js/jquery.js"></script>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/users.js"></script>

</head>

<body>
    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Criar conta</h2>
                                <form>
                                    <div class="form-group">
                                        <label class="form-label" for="form3Example1cg">Nome</label>
                                        <input id="username" type="text" class="form-control form-control-lg" />
                                        <p id="msname"></p>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="form3Example3cg">E-mail</label>
                                        <input id="email" type="email" class="form-control form-control-lg" />
                                        <p id="msgemail"></p>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="form3Example4cg">Senha</label>
                                        <input id="password" type="password" class="form-control form-control-lg" />
                                        <p id="msgsenha"></p>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="form3Example4cdg">Repita sua senha</label>
                                        <input id="repeat-password" type="password"
                                            class="form-control form-control-lg" />
                                    </div>
                                    <div class="form-group align-content-lg-around">
                                        <input class="align-self-auto" type="checkbox" onclick="hidePassWord()"> Mostrar
                                        senha
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="button"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                                            onclick="registrar()">Registrar
                                        </button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">Já tem uma conta? <a href="/"
                                            class="fw-bold text-body"><u>Logar</u></a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>